.featured-product {
    padding: 30px 16px;
}

.featured-product__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    border: 1px solid #004943;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.featured-product__image-container,
.featured-product__details {
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.featured-product__image-container {
    margin-bottom: 16px;
}

.featured-product__details {
    text-align: left;
}

.featured-product__image {
    max-width: 100%;
    height: auto;
    display: block;
}

.featured-product__heading {
    font-family: "CenturyOldStyle", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: #004943;
    margin-bottom: 12px;
    line-height: 1;
}

.featured-product__star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.featured-product__reviews {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.featured-product__description {
    margin-bottom: 20px;
    color: #2D2926
}

.featured-product__value-props-container {
    list-style-position: inside;
    list-style-image: url('../assets/images/check mark.svg');
    margin-bottom: 40px;
}

.featured-product__value-prop {
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.featured-product__value-prop:not(:last-child) {
    margin-bottom: 6px;
}

.featured-product__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-bottom: 16px;
}

.featured-product__button {
    width: 100%;
    flex: 1 1 auto;
}

.featured-product__price {
    display: inline-block;
    margin-left: 6px;
    font-family: 'CenturyOldStyle', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .featured-product {
        padding: 60px 24px;
    }

    .featured-product__content {
        padding: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .featured-product__image-container,
    .featured-product__details {
        width: 50%;
    }

    .featured-product__details {
        padding: 0 80px;
        text-align: left;
    }

    .featured-product__reviews {
        margin-bottom: 30px;
    }

    .featured-product__buttons-container {
        flex-direction: row;
        align-items: center;
        gap: 14px;
        margin-bottom: 16px;
    }
}