.featured-product {
    padding: 30px 16px;
}

.featured-product__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    border: 1px solid #004943;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.featured-product__image-container,
.featured-product__details {
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.featured-product__image-container {
    position: relative;
    margin-bottom: 16px;
}

.featured-product__details {
    text-align: left;
}

.featured-product__image {
    max-width: 100%;
    height: auto;
    display: block;
}

.featured-product__badge {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.36px;
    padding: 6px 10px;
    transition: unset;
}

.featured-product__heading {
    font-family: "CenturyOldStyle", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: #004943;
    margin-bottom: 12px;
    line-height: 1;
}

.featured-product__star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.featured-product__reviews {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.featured-product__description {
    margin-bottom: 20px;
    color: #2D2926
}

.featured-product__value-props-container {
    list-style-type: none;
    margin-bottom: 40px;
}

.featured-product__value-prop {
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}

.featured-product__value-prop:not(:last-child) {
    margin-bottom: 6px;
}

.featured-product__value-prop::marker {
    font-size: 20px;
}

.featured-product__value-prop-icon {
    line-height: 0;
}

.featured-product__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-bottom: 16px;
}

.featured-product__button {
    width: 100%;
    flex: 0 1 auto;
}

.featured-product__button:not(.btn--price) {
    width: 100%;
}

.featured-product__price {
    display: inline-block;
    font-family: 'CenturyOldStyle', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .featured-product {
        padding: 60px 24px;
    }

    .featured-product__content {
        padding: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .featured-product__image-container,
    .featured-product__details {
        width: 50%;
        margin-bottom: 0;
    }

    .featured-product__details {
        padding: 0 80px;
        text-align: left;
    }

    .featured-product__reviews {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .featured-product__buttons-container {
        flex-direction: row;
        align-items: center;
        gap: 14px;
        margin-bottom: 16px;
    }
    
}