
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #FFFFFF;
}

.header__promo-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002E29;
    padding: 10px;
    font-size: 14px;
    color: #FFFFFF;
}

.header__promo-text {
    text-align: center;
}

.header__main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__main {
    padding: 12px 24px;
}

.header__logo-link {
    display: block;
    line-height: 1;
}