html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: #2D2926;
}

p {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0px;
    padding: 0px;
}

button {
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.skip-to-content-link {
    top:0px;
    left: 0px;
    position: absolute;
    z-index: 99;
    background: white;
    padding: 6px;
    border: 1px solid black;
    transform: translateX(-100%);
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

:target {
    scroll-margin-top: 140px;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 19px;
        line-height: 29px;
    }
    :target {
        scroll-margin-top: 122px;
    }
}