.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: #004943;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 24px 0;
}

.marquee__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    gap: 30px;
    animation: marquee-scroll-mobile 14s linear infinite;
    min-width: 100%;
}

.marquee__text {
    font-family: "Century Old", serif;
    font-size: 30px;
    color: #ffffff;
    display: inline-block;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

@media screen and (min-width: 768px) {
    .marquee {
        gap: 60px;
    }

    .marquee__content {
        gap: 60px;
        animation: marquee-scroll-desktop 14s linear infinite;
    }
    
}

@keyframes marquee-scroll-mobile {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 30px));
    }
}

@keyframes marquee-scroll-desktop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 60px));
    }
}